# Homework 1 - Python

###  Instructions:

1. Rename the notebook (click on the title at the top of the page next to 'jupyter') to your A number, name and HW1Py:
   example: "Reid Otsuji-A1234567-HW1Py"
2. Add your code or markdown answers under the questions. 
3. `File>Download as` a 'notebook'. NOTE: Jupyter notebook is constantly auto-saving as a *.ipynb to whatever directory you have opened it in.
4. Upload to TritonED in Assignment 1 upload.

**POINTS: 50 Points, each worth 6.25 points**

## 1. In the next cell, included you name, student ID number (A number), and email as a markdown list 

It should appear like this: 

* Reid Otusji
* A1234567
* [timdennis@ucsd.edu](mailto:timdennis@ucsd.edu)

## 2. Using the print() function: 

1. Assign your name to a variable named `my_name`. 
2. Assign your student_id to a variable named `a_number`. 
3. Assign your email to a variable named `email`.  
4. Using a single print statement, print out a single string that reads like so: 

>Hello, my name is `my_name` and my student ID number is `a_number`. Please email me at `email`.

## 3. Slicing a string

Given the following string:

In [1]:
tri = "triton"

How would you extract just the "on" from "triton". Remember the slicing operator `:`. You can read about slicing strings here: https://docs.python.org/3/tutorial/introduction.html#strings

**Extra credit:** How would you reverse the `tri` string?  Hint: use the [start:stop:step] slice.

## 4. Reading data into pandas

1. Load pandas into the notebook environment. Hint: to load a library we use the keyword `import`
2. Create a variable called `data` and read the `gapminder_gdp_oceania.csv` using pandas. Pandas has the ability to read in files in numerous formats. Start typing `panads.read` and hit tab to see the options.  
3. You can read this file from this URL: https://raw.githubusercontent.com/ucsdlib/python-novice-gapminder/gh-pages/data/gapminder_gdp_oceania.csv -- use this URL instead of the file name. Hint: You still need to quote it. 
4. Print out the columns in the dataframe. Hint: See the [basic functionality](http://pandas.pydata.org/pandas-docs/stable/basics.html) section of the Pandas help site.

In [14]:
import pandas

In [15]:
data = pandas.read_csv('https://raw.githubusercontent.com/ucsdlib/python-novice-gapminder/gh-pages/data/gapminder_gdp_oceania.csv')

In [1]:
#your answer:

## Selecting from a DataFrame

First, we will `import pandas` and the load the `gapminder_gdp_eruope.csv`:

In [33]:
import pandas
data = pandas.read_csv('https://goo.gl/TrauaS',
                      index_col='country')

We can exampe the top lines by using `data.head()`:

In [34]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

**Provide the following answers for each question in the code cell by using the print() and your selection, so print(data.ix['Bulgaria'])**

## 5. GDP per capita for all countries in 1982.

NameError: name 'data' is not defined

## 6. GDP per capita for Denmark for all years.

## 7. GDP per capita for all countries for years after 1985.

## 8. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.